<%- include('./partials/head') %>

  <h2>Students</h2>
  <a id="-button" href="/?sort=name">filter</a>
  <ul>

    <% persons.forEach(person=> { %>
      <li class="cloud"><a href="./person/<%= person.id %>">
          <%= person.name %>
            <%= person.prefix %>
              <%= person.surname %>
                <a href="./person/<%= person.id %>"<%= person.github_handle %>>
        </a>
      </li>
      <% }) %>
  </ul>

  <%- include('./partials/foot') %>