<%- include('./partials/head') %>

    <a href="/">Back</a>

    <h2>
        <%= person.name %>
    </h2>

    <p>Squad: <%= person.squad_id %>

            <h2>huidige berichten</h2>
            <ul>
                <% messages.forEach(message=> { %>
                    <li>
                        <%= message %>
                    </li>
                    <% }) %>
            </ul>

            <form method="POST" action="/">
                <label> Berichtje
                    <textarea required name="bericht"></textarea>
                </label>
                <button type="submit"> Verstuur bericht </button>
            </form>


            <%- include('./partials/foot') %>