<%- include('./partials/head') %>
<link rel="stylesheet" href="/styles.css">

<a href="/">Back</a>

<details>
  <summary>Sorteer</summary>
  <a href="/squad/<%= squad.id %>/?sort=name">Naam (A - Z)</a>
  <a href="/squad/<%= squad.id %>/?sort=-name">Naam (Z - A)</a>
</details>
 
<main>
  <ul>
    <% persons.forEach(person => { %>
      <li>
        <p> <%= person.name + " " + person.surname + " " + squad.name %> </p>
      </li>
    <% }) %>
  </ul>
</main>

<%- include('./partials/foot') %>
