<%- include('./partials/head') %>
<header>
  <a href="/">Back</a>
</header>
 
<main>
  <ul>
    <% person.forEach(person => { %>
      <li>
        <a href="https://<%= person.website %>">
          <h2><%= person.name %> <%= person.prefix %> <%= person.surname %> ------ <%= person.squad_id%></h2>
        </a>
      </li>
    <% }) %>
  </ul>
</main>
 
<%- include('./partials/foot') %>