<%- include('./partials/head') %>

<a href="/">Back</a>

<details name="footer_list">
  <summary>Diensten</summary>
  <a href="/squad/<%= squad.id %>/?sort=name">Naam (A - Z)</a>
  <a href="/squad/<%= squad.id %>/?sort=-name">Naam (Z - A)</a>
</details>
 
<main>
  <ul>
      <% persons.forEach(person => { %>
        <li>
            <p> <%= person.name %> </p>
          </a>
        </li>
      <% }) %>
  </ul>
</main>

 
<%- include('./partials/foot') %>