<%- include('./partials/head') %>

  <ul>
    <% persons.forEach(person => { %>
      <li>
        <a href="https://<%= person.website %>">
          <h2><%= person.name %> <%= person.prefix %> <%= person.surname %> </h2>
        </a>
      </li>
    <% }) %>
  </ul>
